---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Foundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const links = [
  { href: "https://www.linkedin.com/in/carolina-r-5aa13441/", text: "LinkedIn", isExternal: true },
  { href: "https://github.com", text: "GitHub", isExternal: true },
  { href: "mailto:carolreds85@gmail.com", text: "Email", isExternal: false },
];
const year = new Date().getFullYear();
---

<footer>
  <Wrapper variant="standard" class="py-2">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start">
      <div
        class="flex items-center gap-2 text-base-600 dark:text-base-300 text-xs tracking-tight"
      >
        {year}
        <Logo />
      </div>
      <div class="flex flex-wrap gap-8 text-sm items-center">
        {
          links.map((link) => (
            <a
              href={link.href}
              target="_blank" 
              rel="noopener noreferrer"
              class="text-base-600 tracking-tight  text-xs hover:text-base-500 transition-colors"
            >
              {link.text}
            </a>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
