@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  /* Colores Base */
  --color-base-50: oklch(0.985 0 0);
  --color-base-75: oklch(97.53% 0.004 106.47)
  --color-base-900: oklch(0.205 0 0);
  --color-base-950: oklch(0.145 0 0);
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(0.922 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-400: oklch(0.708 0 0);
  --color-base-500: oklch(0.556 0 0);
  --color-base-700: oklch(22.46% 0.004 128.67);
  --color-base-800: oklch(0.269 0 0);
}

@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

/* Colores de Theme */
:root {
  --bg-page: var(--color-base-75);
  --text-page: var(--color-base-900);
  --toggle-bg: var(--color-base-75);
  --toggle-text: var(--color-base-900);
  --toggle-border: var(--color-base-200);
}

.dark {
  --bg-page: var(--color-base-700);
  --text-page: var(--color-base-50);
  --toggle-bg: var(--color-base-700);
  --toggle-text: var(--color-base-50);
  --toggle-border: var(--color-base-800);
}

/* APLICACIÓN GLOBAL */
@layer base {
  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--bg-page) !important;
    color: var(--text-page) !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
