---
// Foundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const education = [
  {
    period: "Design Education",
    title: "Graphic Design \n FADU (UBA)",
    description:
      "Comprehensive training at the Faculty of Architecture, Design and Urbanism, focused on solving complex visual problems. During this period, I developed a solid foundation in morphology, typography, and identity systems, applying critical thinking to transform abstract concepts into functional visual systems.",
    category: "Specialization in Visual Communication and Design Systems",
  },
  {
    period: "Ongoing Practice",
    title: "Frontend Engineering \n & UX Implementation",
    description:
      "Over a decade of technical experience bridging the gap between design and code. Specializing in the implementation of high-fidelity interfaces using the modern stack (React, Tailwind CSS, Astro), ensuring that the creative vision translates into high-performing, accessible, and technically flawless digital products.",
    category: "Focus on accessibility and modern architecture",
  },
  {
    period: "Continuous Practice",
    title: "Fine Arts & Illustration",
    description:
      "Outside the digital realm, I develop large-scale mixed media pieces. This analog practice allows me to experiment with raw textures, organic forms, and color theory in its most physical state, directly influencing my digital spatial awareness.",
    category: "Visual Exploration",
  },
];
---

<section class="scroll-mt-32" id="education">
  <Wrapper variant="standard" class="py-12 lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
      <div class="lg:col-start-2">
        <Text tag="p" variant="textSM" class="text-base-600 dark:text-base-300">
          Education & Formation
          <br />
          Ongoing
        </Text>
      </div>

      <Text
        tag="h2"
        variant="textXL"
        class="font-semibold leading-snug tracking-tighter lg:col-span-2"
      >
        Education
      </Text>
    </div>

    <div class="flex flex-col gap-12 mt-12">
      {
        education.map((item) => (
          <article class="py-12 border-t">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 items-start">
              <Text
                tag="p"
                variant="textXS"
                class="text-base-600 dark:text-base-300 uppercase"
              >
                {item.period}
              </Text>

              <Text
                tag="h3"
                variant="textLG"
                class="leading-tight font-semibold whitespace-pre-line"
              >
                {item.title}
              </Text>

              <Text
                tag="p"
                variant="textSM"
                class="text-base-600 dark:text-base-300"
              >
                {item.description}
              </Text>

              <Text
                tag="p"
                variant="textXS"
                class="text-base-600 dark:text-base-300 uppercase lg:ml-auto lg:col-start-4"
              >
                {item.category}
              </Text>
            </div>
          </article>
        ))
      }
    </div>
  </Wrapper>
</section>
