---
// Assets
import { Image } from "astro:assets";
import one from "@/images/work/Emerios_site_Ready.png";
import two from "@/images/work/EmeriosSiteReady_2.png";
import three from "@/images/work/EmeriosSiteReady_3.png";
import four from "@/images/work/EmeriosSiteReady_4.png";
import five from "@/images/work/EmeriosSiteReady_5.png";
import six from "@/images/work/WestlawAsia_TR.png";
import seven from "@/images/work/WestlawAsia_TR_2.png";
import eight from "@/images/work/Finnt_App.png";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Slider from "@/components/fundations/elements/Slider.astro";

const featuredProjects = [
  {
    year: "2025",
    title: "Emerios Site",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: one,
    imageAlt: "Prototype homepage screenshot showing a header with “Elevate Your Business Relationship Management” and a visual section with buildings and technology",
  },
  {
    year: "2025",
    title: "Emerios Site",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: two,
    imageAlt: "Prototype homepage showing a header with “About Emerios” and a visual section with Prototype homepage screenshot showing an “About Emerios” section with a headline, tagline text, and a 3D office-and-technology illustration.",
  },
  {
    year: "2025",
    title: "Emerios Site",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: three,
    imageAlt: "Prototype hero screenshot showing the “Make a career with Emerios” headline, a navigation menu, and a 3D recruitment-and-technology illustration on the right.",
  },
  {
    year: "2025",
    title: "Emerios Site",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: four,
    imageAlt: "Prototype screenshot for the “Support Center” page, showing the top navigation links, the “Support Center” headline a 3D building-style illustration on the right.",
  },
  {
    year: "2025",
    title: "Emerios Site",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: five,
    imageAlt: "Prototype screenshot for the “Emerios Platform Solution” page, with top navigation, headline and supporting text on the left, and a 3D platform illustration with connected cards on the right.",
  },
];

const otherProjects = [
  {
    year: "2022",
    title: "Westlaw Asia App",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: six,
    imageAlt: "Electric car in motion.",
  },
  {
    year: "2022",
    title: "Westlaw Asia App",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: seven,
    imageAlt: "Modern electric bicycle.",
  },
];

const moreProjects = [
  {
    year: "2021",
    title: "Finnt App",
    description: "For this project I defined the overall concept and direction for the Emerios site, shaping the visual and communication approach to ensure a clear, modern, and trustworthy brand experience. I created the initial layout diagram prototypes, developed low-fidelity prototypes to explore structure and user flow, and produced all isometric illustrations end-to-end—from the first sketches to the final polished assets.",
    category: "UX/UI for B2B Contact & Lead Generation",
    image: eight,
    imageAlt: "Electric car in motion.",
  },
];
---

<section class="scroll-mt-32" id="work">
  <Wrapper variant="standard" class="py-12 lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
      <div class="lg:col-start-2">
        <Text tag="p" variant="textSM" class="text-base-600 dark:text-base-300">
          Featured Work <br /> 2016 - Now
        </Text>
      </div>
      <Text tag="h2" variant="textXL" class="font-semibold leading-snug text-left tracking-tighter lg:col-span-2 var(--color-main-text)">
        Work
      </Text>
    </div>

    <div class="relative mt-12 group">

      <!-- Primer Slider -->
      <Slider projects={featuredProjects} sliderId="slider1" />

      <!-- Segundo Slider -->
      <Slider projects={otherProjects} sliderId="slider2" />

      <!-- Tercer Slider -->
      <Slider projects={moreProjects} sliderId="slider3" />

    </div>
  </Wrapper>
</section>

<script>
  const buttons = document.querySelectorAll('.see-more-btn');
  buttons.forEach(btn => {
    btn.addEventListener('click', () => {
      const targetId = btn.getAttribute('data-target');
      if (targetId) {
        const extraText = document.getElementById(targetId);
        if (extraText) {
          const isHidden = extraText.classList.toggle('hidden');
          btn.textContent = isHidden ? 'See More' : 'Show Less';
        }
      }
    });
  });
</script>
